
body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  display: flex;
  height: 100vh;
  color: #333;
}


.html-panel {
  flex: 1;
  background-color: #d8b4fe; 
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  border-right: 3px solid #c084fc;
}


.js-panel {
  flex: 1;
  background-color: #bbf7d0; 
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  border-left: 3px solid #86efac;
}


h1 {
  text-align: center;
  color: #333;
  margin-bottom: 15px;
}


label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

select {
  width: 100%;
  padding: 8px;
  border: 2px solid #999;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 15px;
  font-size: 15px;
}


#resultado, 
#resultado-js {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-size: 15px;
}

code {
  display: block;
  background-color: #f9fafb;
  padding: 8px;
  border-radius: 6px;
  margin-top: 8px;
  font-family: monospace;
  white-space: pre-wrap;
}
